# Generic
*~
*#

# Dependencies
.*.d
*.v.d
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d

# COQ
*.vo
*.vok
*.vos
*.vio
*.glob
.*.aux
.lia.cache
.coq-native
.csdp.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

# Caml
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.native
*.o

# Export
_attic/export/*/*.tar.gz
_attic/export/*/slf

# CFML
*.cmj
*_ml.v
.depend_*
.coq_error
_output

# CFML+Opam
.Makefile.generated.d
Makefile.generated
Makefile.generated.conf
*.native
dune-workspace.versions
*.install
_build
README.html
